__pycache__
dist
logs
build
*.egg-info
.Rproj.user
docs/build
data/simulation/

mars/
logs/
metrics/
results_semi_sup/
LCA_scarches_reference/
results_semi_sup_n_perm_5/
data/
*.sif
results/
logs
task*
*.ipynb
.ipynb_checkpoints
models
workflow_jobs/log
workflow_jobs/log/.ipynb_checkpoints
workflow_jobs/log_debug
test_model/
figures/
reproducibility
figure1.png
predict
Results_analysis.ipynb
disco_celltype_lv1.csv
htap_celltype.csv
ajrccm_celltypes.csv

compute_single_metrics.py
